button:active, button:focus {
    outline: none;
    }
    button::-moz-focus-inner {
    border: 0;
    }
    select:active, select:focus{
        outline: none;
    }
    .head-padd{
        padding: 0 255px;
    }
    .head-blue{
        background-color: #0060a8;
        color: white;
        height: 100px;
        font-size: 15px;
        margin: 0;
    }
    .two-l {
        display: table;
        height: 100px; 
    }
    .two-l div {
        display: table-cell;
        vertical-align: middle;
    }
    .bold{
        font-weight: bold;
    }
    .f-o{
        font-family: 'Open Sans', sans-serif;
    }
    .f-u{
        font-family: 'Ubuntu', sans-serif;
    }
    @font-face{
        font-family: 'GothamPro';
        src: url('../fonts/14078.ttf');
        font-weight: normal;
        font-style: normal;
    }
    .f-g{
        font-family: 'GothamPro';
    }
    .w-0 div{
        width: 0%;
    }
    .s-img{
        border: #61a5da 1px solid;
        border-radius: 5px;
    }
    .s-img span{
        border: none;
        background-color: #0060a8;
    }
    .i-style{
        background-color: #0060a8;
        color: white;
        border: none;
    }
    .i-style::placeholder{
        color: white;
        font-style: italic;
    }
    .s-cntr{
        display: flex;
        align-items: center;
    }
    .s-cntr button{
        background-color: #0060a8;
        color: #fff;
        border: none;
    }
    .btn-login{
        padding: 0;
    }
    .lang{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #0060a8;
        color: #fff;
        background-image: url('../img/lang_ddbtn.png');
        background-repeat: no-repeat;
        background-position: right 0 top 50%, 0 0;
        width: 45px;
        border: none;
    }
    .main-menu{
        height: 100px;
    }
    .logo{
        margin: 15px 0;
    }
    ul {
        padding:0;
        margin:0;
        list-style: none;
        position: relative;
        }
    li > a:after { content:  url('../img/dbtn.png'); }
    a:active, a:focus, a:hover{
        text-decoration: none;
    }
    .c-b{
        color: #0060a8;
    }
    .breadcrumbs{
        margin: 0 15px;
        color: #7a7979;
    }
    .separator{
        margin: 0 18px;
    }
    h1{
        font-weight: bold;
    }
    .map{
        margin-top: 100px;
        margin-bottom: 85px;
    }
    h3{
        font-weight: bold;
    }
    main p{
        font-size: 12pt;
        margin-bottom: 0;
    }
    .feed{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    textarea {
        resize: none;
        width: 100%;
        height: 91%;
    }
    form label{
        font-size: 11pt;
        text-indent: 10px;
    }
    form input,textarea{
        border-color: #0060a8 !important;
    }
    .send{
        background-color: #0060a8;
        color: #fff;
        font-weight: bold;
        width: 100%;
    }
    footer{
        background-color: #706f6f;
        color: #fff;
    }
    .footer{
        padding: 90px 255px 100px 255px;
    }
    footer h3{
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 20px;
    }
    .c-w{
        color: #fff;
    }
    .sq img{
        margin: 0 auto;
    }
    .map-pos{
        margin-left: -70px;
    }